@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway:wght@500;600&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 html,body{
     font-family: 'Raleway', sans-serif;
     overflow-x: hidden;
}

button{
    font-family: 'Raleway', sans-serif;
}

/* --------------- base.html ---------- */
.indexh3{
    margin-left: 0.5rem;
    font-family: 'Lato', sans-serif;
}


/* --------------- navbar ---------- */
nav {
    margin-bottom: 1rem;
}
nav .brand-logo {
    margin-left: 0.5rem;
    color: black;
    font-weight:bold;
}

nav .nav-wrapper > ul > li > a {
    color: #040036;
    font-size: 1.25rem;
    font-weight: bold;
}

/* --------------- index.html ---------- */
.welcome-message {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
}

/* --------------- recipes.html ---------- */
.add-recipe{
    margin-left: 0.703125rem;
}

.add_field_button{
    margin-left: 2rem;
}

.card-image img{
    height: 12rem;
}

.card .card-content{
    padding: 0.75rem 1.5rem;
    height: 7.65625rem;
}


.card .card-content .card-title > strong{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.card .card-content > p{
    color: #014a0d;
}

.card .card-action{
    font-weight: 700;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #1a0b54;
}

figure{
    width:auto;
    overflow:hidden;
    margin:0;
}
figure img{
    display:block;
    width:100%;
    margin:-15% 0 -15% 0;
}




ul.ingredient-list>li{
    list-style-type: square;
    margin-left: 2rem;
}

.responsive-img .single-recipe img{
    max-height: 20rem;
    width: auto;
}


.add_recipe_form, .edit_recipe_form{
    margin: 2rem;
}

/* --------------- aboutus.html ---------- */
.small-title{
    font-weight: 600;
}
.noodle-info > p, .message-form{
    padding: 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.noodle-info{
    padding: 2rem;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 100% ), url("../images/info_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
}

.aboutus{
    padding: 2rem;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.7) 100% ), url("../images/e-mail_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
}

#message_button{
    display: none;
}

footer {
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    width: 100%;
    display: block;
}
.page-footer{
    position: relative;
    bottom:0;
    left:0;
    width:100%;
    background-color: white;
}
.social {
    text-align: center;
}

.list-inline > li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.list-inline-item {
    padding: 5px 10px 0px 10px;
    font-size: 35px;
}
.list-inline-item a {
    color: #040036;
}

@media screen and (max-width: 1140.02px) {
    /* --------------- recipes.html : card-title ---------- */
    .card-title > strong{
        font-size: 1.25rem;
    }
}


@media screen and (max-width: 992.02px) {
    .index-preview > .card-image img{
        height: 18rem;
    }

    .recipes-preview > .card-image img{
        height: 18rem;
    }
    .noodle-info, .aboutus{
        height: auto;
        margin-bottom: 4rem;
    }
    #message_button{
        display:inline-block;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600.02px) {
    .recipes-preview > .card-image img{
        height: 18rem;
    }
}