{% extends 'base.html' %} {% block content %}
<div class="row">
    <h3 class="indexh3">About us</h3>
    <a href="#aboutus" id="message_button" class="waves-effect waves-light btn light-green darken-3">
              go to message form
            </a>
    <div class="col s12 m12 l6 xl6 noodle-info">
        <h5 class="small-title">Noodle Story...</h5>
        <p>
            Noodles are a type of food made from unleavened dough which is rolled flat and cut, stretched or extruded, into long strips or strings. Noodles can be refrigerated for short-term storage or dried and stored for future use.
            Noodles are usually cooked in boiling water, sometimes with cooking oil or salt added. They are also often pan-fried or deep-fried. Noodle dishes can include a sauce or noodles can be put into soup. The material composition and
            geocultural origin is specific to each type of a wide variety of noodles. Noodles are a staple food in many cultures.
        </p>
    </div>
    <div class="col s12 m12 l6 xl6 aboutus" id="aboutus">
        <h5 class="small-title">Message us :D</h5>
        <form onsubmit="return sendMail(this);" method="POST" id="mail-form">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_list_bulleted</i>
                    <select id="subject" name="subject">
                        <option value="" disabled selected>Please select a type of subject.</option>
                        <option value="General">General</option>
                        <option value="Password and recipe data">Password and recipe data</option>
                         <option value="Other">Other</option>
                    </select>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="sender_name" name="sender_name" type="text" class="validate" />
                    <label for="sender_name">Name</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" class="validate" />
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Please input a valid email address." data-success="Good!"></span>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="messagetext" name="messagetext" class="materialize-textarea"></textarea>
                    <label for="messagetext">Message</label>
                </div>

                <br />
                <div id="send-button-group" class="center">
                    <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <button class="btn waves-effect waves-light red lighten-2 " type="reset" name="action">
                        Cancel
                        <i class="material-icons right">cancel</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
