{% extends 'base.html'%} {% block content %}
<div class="delete-fail center">
    <div>
    {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
        <div class="fail-reason">
            The reason of delete fail:<br> 
            The input password is incorrect.<br>
            The password is case-sensitive.
        </div>
    {% endif %}
    </div>
    
    <button class="btn waves-effect waves-light orange darken-2" onclick="history.back(-1);">
        Back to the recipe<i class="material-icons left">replay</i>
    </button>
</div>
{% endblock %}
