{% extends 'base.html' %} {% block content %}
<h3>Edit Recipe</h3>
<div class="row edit_recipe_form">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">restaurant_menu</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}" />
                    <label>Recipe Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input id="nationality" name="nationality" type="text" class="validate" value="{{recipe.nationality}}" />
                    <label>Nationality</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input id="portions" name="portions" type="text" class="validate" value="{{recipe.portions}}" />
                    <label>Portions</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 input_fields_ingredient_edit">
                    <i class="material-icons prefix">format_list_bulleted</i>
                    <label>Ingredients</label><br />
                    {% for a in len_ingredient %} 
                        {% if a > 0 %}
                            <a class="remove_field_button">Del</a>
                        {% endif %}
                        <input class="ingredient validate" name="ingredient_name_{{a}}" type="text" value="{{recipe.ingredients[a]}}" />
                    {% endfor %}
                </div>
                <a class="add_ingredient_field_button_edit"><i class="material-icons prefix">add</i> Add a field</a>
            </div>

            <div class="row">
                <div class="input-field col s12 input_fields_instruction_edit">
                    <i class="material-icons prefix">assignment</i>
                    <label>Instructions</label>
                    {% for a in len_instruction %} 
                        {% if a > 0 %}
                            <a class="remove_field_button">Del</a>
                        {% endif %}
                        <input class="instructions validate" name="instructions_name_{{a}}" type="text" value="{{recipe.instructions[a]}}" />
                    {% endfor %}
                </div>
                <a class="add_instruction_field_button_edit"><i class="material-icons prefix">add</i> Add a field</a>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">add_a_photo</i>
                    <input id="photo_url" name="photo_url" type="text" class="validate" value="{{recipe.photo_url}}" />
                    <label>Photo url</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="del_password" name="del_password" type="password" class="validate" value="{{recipe.del_password}}" />
                    <label>Password for deletion</label>
                </div>
            </div>

            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Edit Recipe
                    <i class="material-icons right">edit</i>
                </button>
                <a href="{{ url_for('get_singlerecipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn grey modal-close"> <i class="material-icons right">cancel</i>Cancel </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}
