{% extends 'base.html'%} {% block content %}

<div class="row">
<h3 class="indexh3">Recipes</h3>
  <a
    href="{{url_for('add_recipe')}}"
    class="btn waves-effect waves-light add-recipe green darken-2"
    type="submit"
    name="action"
    >Add Recipe
    <i class="material-icons right">playlist_add</i>
  </a>
</div>
<div class="row">
    {% for recipe in recipes | reverse %}
    <div class="col s12 m6 l3">
      <div class="card light-green lighten-5 recipes-preview">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="{{url_for('get_singlerecipe', recipe_id=recipe._id)}}"><img
            class="responsive-img recipe-image" id="single-recipe-img"
            src="{{recipe.photo_url}}"
            alt="No image"
          /></a>
        </div>
        <div class="card-content">
          <a href="{{url_for('get_singlerecipe', recipe_id=recipe._id)}}"><span class="card-title activator grey-text text-darken-4"><strong>{{recipe.recipe_name}}</strong></span></a>
          <p>{{recipe.nationality}}</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('get_singlerecipe', recipe_id=recipe._id)}}">Open the recipe</a>
        </div>
      </div>
    </div>

    {% endfor %}
  
</div>
{% endblock %}