{% extends 'base.html'%} {% block content %}
<div class="row">
    <h3 class="indexh3">{{recipe.recipe_name}}</h3>

    <div class="col s12">
        <div class="center single-recipe-img">
            <img class="responsive-img" id="single-recipe-img" src="{{recipe.photo_url}}" alt="No image" onerror="this.src='../static/images/alternative_img_for_recipe.png';" />
        </div>
    </div>

    <div class="row recipe_list">
        <div class="col s4 amber lighten-2">
            <div class="center recipe_list_in">
                <i class="medium material-icons prefix">language</i>
                <h6>Nationality</h6>
                <p class="recipe_list_content">{{recipe.nationality}}</p>
            </div>
        </div>

        <div class="col s4 yellow lighten-3">
            <div class="center recipe_list_in">
                <i class="medium material-icons prefix">person</i>
                <h6>Portions</h6>
                <p class="recipe_list_content">{{recipe.portions}}</p>
            </div>
        </div>

        <div class="col s4 lime lighten-3">
            <div class="center recipe_list_in">
                <i class="medium material-icons prefix">tune</i>
                <h6>Difficulty</h6>
                <p class="recipe_list_content">{{recipe.difficulty}}</p>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <h5 class="center">Ingredients</h5>
        <br />
        <ul class="ingredient-list">
            {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s12 m6">
        <h5 class="center">Instructions</h5>
        <br />
        <ol class="instruction-list">
            {% for instruction in recipe.instructions %}
            <li>{{instruction}}</li>
            {% endfor %}
        </ol>
    </div>
</div>

<div class="center button-group-1">
    <a class="waves-effect waves-light btn green darken-2" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit Recipe</a>

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger red lighten-1" href="#modal2">Delete Recipe</a>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4><i class="material-icons prefix">warning</i> Delete Recipe</h4>
            <p>Are you sure to remove the recipe? (You can not recovery the deleted recipe.)</p>
            <p>If you forget the password, please send a message us.</p>
            <a class="modal-trigger modal-close" href="{{ url_for('get_info') }}">Send message</a>
            <!--
      <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">-->
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <i class="material-icons prefix">url</i>
                        <input id="delete_password" name="delete_password" type="password" class="validate" />
                        <label for="delete_password">Password</label>
                    </div>
                </div>

                <div id="send-button-group2" class="center">
                    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="red lighten-1 waves-effect waves-light btn btn_small"> <i class="material-icons right">delete_forever</i>Delete </a>

                    <a href="{{ url_for('get_singlerecipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn grey modal-close"> <i class="material-icons right">cancel</i>Cancel </a>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</div>
